// Variables
$main-color: #d85c00;
$secondary-color: #ffb883;
$gradient-color: #bf86ff;
$white: #fefdff;
$black: #2c2c2c;

// Global Resets
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Raleway', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'Segoe UI', Tahoma, Geneva, Verdana, Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    height: 100vh;
    color: $white;
    background: #800FFF; // fallback
    background-image: linear-gradient(to right, rgba($gradient-color,.7) , rgba($main-color, 0.7)), url('../assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: inherit;

    &:focus {
        outline: none;
    }
}

ul {
    list-style-type: none;
}

li {
    list-style: none;
}

button:focus {
    outline: none;
}

section, header {
    width: 80%;
    margin: 0 auto;
}

// Header Section

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        font-size: clamp(2rem, 4vw, 3.5rem);
        font-weight: 700;
    }

    &__nav {

        &-list {
            display: flex;
        }
    
        &-item {
            padding: 2rem 1.5rem;
            font-size: clamp(1.2rem, 4vw, 1.4rem);
            display: flex;
            align-items: center;
            justify-content: center;
    
            &--primary {
                cursor: pointer;
                margin-left: 2.5rem;
                font-weight: 700;
                background: $white;
                color: $black;
                transition: all .5s ease-in-out;
    
                &:hover {
                    background-color: $main-color;
                    color: $white;
                }
            }
        }
    
        &-link {
            display: inline-block;
            padding: 1.5rem;
        }
    }
}

.mobile__nav {
    font-size: 2.5rem;
    display: none;
}

    

// Hero Section
.hero {

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;

    &__title {
        font-size: clamp(4rem, 10vw, 8rem);
        width: 40%;
        margin-left: 20rem;
    }
}

// Overlay Section
.overlay {
    position: fixed;
    height: 100vh;
    background: $white;
    color: $black;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 70% auto 8rem;
    opacity: 0;
    transform: translateX(10%) scale(.9);
    pointer-events: none;
}

.left, .center, .right {
    height: 100vh;
    transform: translateX(15%);
    opacity: 0;
}

.left {

    padding: 10rem;

    &__title {
        color: $main-color;
        font-size: 5rem;
    }

    &__subtitle {
        font-size: 2rem;
        margin-top: -1rem;
    }

    &__cards {
        display: flex;
        align-items: center;
        margin-top: 5rem;
    }

    &__card {
        padding: 2rem;
        width: 30%;
        border-radius: .8rem;
        box-shadow: 1px 2px 15px rgba(0, 0, 0, .15);

        &:nth-of-type(1) {
            margin-right: 5rem;
        }

        &-title {
            font-size: 2rem;
        }

        &-price {
            display: inline-block;
            font-size: 1.6rem;
            font-weight: 500;
            color: #8a8e95;
            margin-bottom: 2rem;
        }

        &-text {
            font-size: 1.4rem;
            margin-bottom: 2rem;
        }

        &-cta {
            display: inline-block;
            padding: .8rem 1.3rem;
            border-radius: .5rem;
            background: $main-color;
            color: $white;
            font-size: 1.4rem;
            font-weight: 700;
            transition: all .5s ease-in-out;

            &:hover {
                background-color: $secondary-color;
                color: $main-color;

            }

            &--secondary {
                background: $secondary-color;
                color: $main-color;

                &:hover {
                    background-color: $main-color;
                    color: $white;
                }
            }
        }
        
    }


}

.center {
    padding-top: 14rem;
}

.secondary-nav {

    margin-bottom: 2rem;

    &__item {
        padding: 1rem 0;
    }

    &__link {
        display: inline-block;
        font-size: 1.8rem;
        transition: all .5s ease-in-out;

        &:hover {
            color: $main-color;
        }
    }
}

.social-nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 2.2rem;

    &__link {
        transition: all .3s ease-in-out;
        display: inline-block;

        &:hover {
            transform: scale(1.2);
            color: $main-color;
        }
    }
}

.right {
    display: grid;
    justify-items: center;
    align-items: start;
    font-size: 3rem;
    padding-top: 2rem;
    background-color: $main-color;
}

.close-btn {
    color: $white;
    cursor: pointer;
}


@media screen and (max-width: 1200px) {
    .left {

        &__cards {
            flex-direction: column;
        }
    
        &__card {
            width: 100%;
    
            &:nth-of-type(1) {
                margin-right: 0;
                margin-bottom: 5rem;
            }
        }
    
    }
}

@media screen and (max-width: 1024px) {
    .mobile__nav {
        display: block;
    }

    .header__nav{
        
        &-item {
            &:not(:last-of-type) {
                display: none;
            }
        }
    }

    .left {
        padding-right: 5rem;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-position: center;
    }

    section, header {
        width: 100%;
        padding: 0 2rem;
    }

    

    .hero {

        align-items: center;

        &__title {
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 430px) {

    .header {

        &__logo {
            margin-right: 1.5rem;

        }

        &__nav {
            &-item--primary {
                font-size: 1.2rem;
                text-align: center;
            }
    
            &-link {
                padding: 0;
            }
        }
    }
}